
.main-content .main-text {
    font-weight: 700;
    letter-spacing: 0.05em;
    /* Ajusta el espaciado para simular Netflix Sans */
    padding: 20px;
    color: white;
    font-size: 55px;
    text-align: center;
}

.main-content .sub-text {
    font-weight: 100;
    letter-spacing: 0.05em;
    /* Ajusta el espaciado para simular Netflix Sans */
    padding: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.main-content .text {
    font-weight: 100;
    letter-spacing: 0.05em;
    /* Ajusta el espaciado para simular Netflix Sans */
    padding: 20px;
    color: white;
    font-size: 15px;
    text-align: center;
}

.main-content .validations-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.validations-input {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.validations-input input {
    border: 2px solid rgb(156, 156, 156);
    padding: 1.2rem 1rem 0.6rem 1rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #222;
    border-radius: 4px;
    transition: border-color 0.2s;
}

.validations-input label {
    position: absolute;
    left: 1rem;
    top: 1.2rem;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.25rem;
    font-size: 1rem;
    z-index: 1;
}

.validations-input input:focus+label,
.validations-input input:not(:placeholder-shown)+label {
    top: -0.5rem;
    left: 0.7rem;
    font-size: 0.75rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 0.25rem;
}

.validations-input input:focus {
    border: 2px solid rgb(255, 255, 255);
    outline: none;
}

@media (max-width: 600px) {
    .validations-input {
        max-width: 95%;
    }

    .validations-input input {
        font-size: 0.95rem;
        padding: 1rem 0.8rem 0.5rem 0.8rem;
    }

    .validations-input label {
        left: 0.8rem;
        top: 1rem;
        font-size: 0.95rem;
    }
}

.start-button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.2s;
}

.start-button a {
    color: white;
    text-decoration: none;
}

.start-button:hover {
    background-color: #b8070f;
}
.modal-login{
        background-color: rgba(0, 0, 0, 0.72);
}

.modal-login h2 {
    color: white;
    text-align: start;
    padding: 0% 0% 0% 5%;
    margin-bottom: 20px;
}